@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;700&family=Montserrat:wght@500;700&display=swap');

/* ОБНУЛЕНИЕ СТИЛЕЙ */
*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
}

li {
    list-style: none;
}

a,
a:visited {
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}

a {
    color: #2E3235;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: inherit;
    font-size: inherit;
}

img {
    vertical-align: top;
}

html,
body {
    height: 100%;
    background: #FAFAFA;
}

html {
    font-size: 16px;
    /* по умолчанию */
}

body {
    line-height: 1;
    font-family: "Inter", sans-serif;
}

._ibg {
    position: relative;
}

._ibg img {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    object-fit: cover;
}

.wrapper {
    min-height: 100%;
    overflow: hidden;
    display: flex;
    flex-direction: column;
}

._container {
    max-width: 1189px;
    padding: 0 15px;
    margin: 0 auto;
    box-sizing: border-box;
}

.none {
    display: none;
}

/* ==================HEADER==================== */
.header {
    background: #F5F5F5;
}

.header__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-height: 65px;
    margin-top: 25px;
}

.header-logo {}

.header__menu {}

.menu {}

.menu__list {
    display: flex;
    column-gap: 76px;
    
}

.menu__link {
    display: inline-block;
    font-size: 18px;
    font-weight: 500;
    line-height: 175%;
}

.header__phone {
    font-size: 20px;
    line-height: 175%;
    font-weight: 700;
}

.heder__phone-link {}

/* =======================================SERVICE */
.header__service {}

.service {
    
}

.service__container {}

.service__body {
    margin: 76px 0px 46px 0px;

}

.service__row {
    display: flex;
    justify-content: space-between;
    align-items: center;
}


.service__center {}

.center {}
.block-one{
    display: flex;
    /* flex-direction: column; */
}
.centre__title {
    font-size: 50px;
    line-height: 157%;
    font-weight: 700;
    letter-spacing: -0.05em;
    text-transform: uppercase;

    color: #000000;
    margin: 0px 0px 15px 0px;
}

.service__sub-title {
    font-size: 30px;
    line-height: 175%;
    font-weight: 500;
    letter-spacing: -0.05em;
    margin: 0px 0px 90px 0px;
    color: #817979;

}

.service__button-row {
    display: flex;
    column-gap: 20px;
}

.button {
    font-size: 16px;
    font-weight: 600;
    line-height: 175%;
    letter-spacing: -0.05em;
    border-radius: 10px;
    padding: 15px 20px 22px 21px;
}

.button-red {
    background: #F03957;

}

.button__link {}

.button-colorless {
    border: 2px solid #000000;
    border-radius: 10px;
}

.button__link-red {
    color: #FFFFFF;

}

.button__link-colorless {
    color: #000000;

}



.service__image {
    width: 563px;
    height: 477px;
}

.image img {
    border-radius: 25px;
    width: 100%;
    height: auto;
}



/* =============OUR================ */
.our {
    background-color: #525252;
}

.our__container {
    padding: 50px 0px 0px 0px;
}

.our__services {
    margin: 0px 0px 80px 0px;
}

.services {}

.services__body {}

.services__row {
    display: flex;
    column-gap: 80px;
    align-items: center;
}

.services__block {
    flex: 0 1 50%;
}

.block-one {}

.block-one__title {
    font-weight: 700;
    font-size: 45px;
    line-height: 175%;

    letter-spacing: -0.05em;
    text-transform: uppercase;

    color: #F7F5F5;
}

.block-one__sub-title {
    font-weight: 700;
    font-size: 45px;
    line-height: 175%;

    letter-spacing: -0.05em;
    text-transform: uppercase;

    color: #F03957;
}

.block-two__text {
    font-weight: 600;
    font-size: 18px;
    line-height: 175%;

    letter-spacing: -0.05em;

    color: #F7F5F5;
}

/* ========================CARD */
.our__columns {}

.our__row {}

.services {
    margin-top: 10px;
}

.our__body:last-child {
    margin-bottom: 114px;
}

.colomn {
    border-radius: 20px;
    margin-bottom: 20px;
    background-color: #F5F5F5;

}


.column__row {
    padding: 17px 45px 38px 88px;
    display: flex;
    align-items: center;
    column-gap: 140px;
}

.column__row-photo {
    padding: 30px 112px 43px 74px;
    column-gap: 158px;

}

.column__row-phone {
    padding: 38px 168px 0px 67px;

}

.column__row-electro {
    padding: 54px 117px 29px 74px;
}

.column__row-tv {
    padding: 37px 155px 37px 67px;
}

.column__image img {
    display: block;
    max-width: 100%;
    height: auto;
    min-width: 200px;
}

.column__image-photo img {
    display: block;
    max-width: 100%;
    height: auto;
    min-width: 280px;
}


.column__body {
    max-width: 520px;
}

.column__body__title {
    margin-bottom: 25px;
}

.title {
    font-weight: 600;
    font-size: 30px;
    line-height: 175%;
    letter-spacing: -0.05em;

    color: #000000;

}

.column__body__title-span {
    color: #F03957;
}

.column__body__text {
    margin-bottom: 30px;
}

.text {
    font-weight: 400;
    font-size: 18px;
    line-height: 175%;
    letter-spacing: -0.05em;

    color: #000000;
}

.column__button {
    border: 2px #000000 solid;
    border-radius: 8px;
    padding: 8px 32px 15px
}

.button {
    font-weight: 600;
    font-size: 18px;
    line-height: 175%;

    letter-spacing: -0.05em;

    color: #000000;
}

/* ========ADVANTAGES */
.our__advantages__container {}

._container {}

.our__advantages {
    background-color: #F7F5F5;
}

.advantages {
    margin-top: 119px;
}

.advantages__header {}

.advantages__row {
    display: flex;
    align-items: center;
    column-gap: 138px;
    margin-bottom: 80px;

}

.advantages__block {}

.block-one {}

.block-one__title-color {
    color: #000000;
}

.block-two {}

.block-two__text-color {
    color: #000000;


}

.advantages__card {
    background-color: #F5F5F5;
}

.card {
    display: flex;
    column-gap: 30px;
}

.card__body {
    flex: 0 1 33.333%;
    display: flex;
}

.card__row {
    display: flex;
}

.card__col {
    display: flex;
    flex-direction: column;

    background-color: #C4C4C4;
    border-radius: 20px;
}

.col-dark-grey {
    display: flex;
    background-color: #525252;
    color: #fff;
}

.col-red {

    background-color: #D4636B;
}

.col {
    padding: 35px 23px 132px 58px;
}

.col-dark-grey {
    padding: 35px 34px 100px 30px;
}

.col-red {
    padding: 35px 34px 132px 30px;
}

.col__image {
    margin-bottom: 30px;
}

.col__image img {
    width: 73px;
    height: 58px;
}

.col__title {
    margin-bottom: 25px;
    line-height: 150%;
}

.title-col {
    color: #fff;
}

.text-col {
    color: #fff;
}

/* =========CARUSEL======= */
.brands {
    background-color: #F5F5F5;
}

.brands__container {}

.brands__row {
    margin-top: 120px;
}

.brands__block {}


.brands__slider {
    position: relative;
    height: 107px;
    margin-bottom: 120px;
}

.owl-carousel img {}

.slider__item {
    width: 267px;
    height: 107px;
    padding: 32px 43px 38px 38px;
    border: 2px solid #ddd4d4;
    border-radius: 20px;
}

.owl-carousel {}

.slider__item {}

.slider__btn {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    z-index: 9;

    display: block;
    width: 0px;
    height: 0px;


    display: flex;
    align-items: center;
}

.slider__btn--prev {

    left: -82px;
    padding-left: 26px;
    justify-content: flex-start;
}

.slider__btn--next {
    right: -82px;
    padding-right: 26px;
    justify-content: flex-end;
}

.block {
    margin-top: 100px;
}

/* =============REVIEWS======== */

.reviews {
    margin-bottom: 16px;
}

.reviews__columns {}

.reviews__column {}

.reviews__row {
    display: flex;
    column-gap: 29px;
    row-gap: 29px;
}

.column {
    background-color: #dfdbdb;
    border-radius: 15px;
    padding: 22px 23px 30px 30px;
    flex: 0 1;
    flex: 33.333%;

}

.column__top {
    display: flex;
    align-items: center;


}

.column__top-name {
    font-weight: 700;
    font-size: 18px;
    line-height: 175%;

    letter-spacing: -0.05em;

    color: #000000;
    margin-right: 48px;
}

.column__top-date {
    font-weight: 400;
    font-size: 16px;
    line-height: 175%;

    letter-spacing: -0.05em;
    text-decoration-line: underline;

    color: #6F7375;
    margin-right: 3px;
}


.column__top-map {
    width: 36px;
    height: 36px;
}




.column__text {
    font-weight: 400;
    font-size: 16px;
    line-height: 175%;

    letter-spacing: -0.05em;

    color: #000000;
}

.column__footer {
    display: flex;
    column-gap: 11px;
}

.column__footer-button {

    font-weight: 400;
    font-size: 14px;
    line-height: 175%;

    letter-spacing: -0.05em;
    text-decoration-line: underline;

    color: #6F7375;
}

.column__footer__link-img img {
    display: inline-block;
}

/* ==============FORM-ADVANTAGES======= */
.form-advantages {
    background-color: #2E3235;

}

.advantages__row{
    margin-top: 120px;
    margin-bottom: 57px;
    display: flex;
    column-gap: 132px;
}

.advantages__block {
    display: flex;


}

.block-one {
    display: flex;
    flex-direction: column;
}

.block-one__title {}

.block-one__title-white {
    color: #fff;
}

.block-one__sub-title {}

.block-two {}

.block-two__text {}

.block-two__text-white {
    margin-top: 20px;
    color: #fff;
}

/* =========FORM======== */
.form__application {
    background-color: #fff;
    border-radius: 15px;
    margin-bottom: 141px;
}

.form__contact {}

.form__row {
    padding: 101px 95px 40px 99px;
    display: flex;
    column-gap: 20px;
}

.form__box1 {
    max-width: 465px;

}


.form__item {
    width: 100%;
    padding: 13px 348px 16px 25px;
    border: 2px #D9D9D9 solid;
    border-radius: 5px;
}

.form__item:not(:last-child) {
    margin-bottom: 20px;
}

.form__box2 {}

.form__textarea {
    width: 465px;
    height: 145px;
}

.form__textarea textarea {
    display: block;
    padding: 13px 30px 170px 24px;
    border: 2px #D9D9D9 solid;
    border-radius: 5px;
    resize: vertical;
    overflow: hidden;
    width: 100%;
    height: 100%;
}

.form__textarea textarea::placeholder {
    font-family: 'Inter'sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 175%;
    letter-spacing: -0.05em;

    color: #817979;
}

.form__input {
    display: flex;
    flex-direction: column;
}

.form__label {}

.form__file {
    display: flex;
    flex-direction: column;
    margin-left: 101px;
    row-gap: 20px;

}

.form__label {}

.file {
    position: relative;

}

.file__input {
    position: absolute;
    top: 0;
    left: 0;
    width: 10.7%;
    height: 100%;
    opacity: 0;
    font-size: 0;
    cursor: pointer;
}

.file__button {
    display: inline-flex;
    min-height: 40px;
    border-radius: 30px;
    justify-content: center;
    align-items: center;
    background-color: #F03957;
    padding: 0px 20px;
}

.form__footer {
    display: flex;
    margin-top: 50px;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
    row-gap: 17px;
}

.form__button {
    padding: 16px 45px 21px;
    background-color: #F03957;
    border-radius: 10px;
}

.form__button-link {
    display: inline-block;
    color: #fff;
}

.form__footer-text {
    margin-left: 19px;
    width: 230px;
    margin-bottom: 59px;
}

.form__footer-text p {
    font-weight: 600;
    font-size: 10px;
    line-height: 175%;
    letter-spacing: -0.05em;

    color: #000000;
}

/* ===MAP==== */
.map__yandex {
    position: relative;

}

.map__body {
    position: absolute;
    top: 133px;
    left: 41px;
}

.map__row {
    width: 460px;

}

.map__col {}

.col__map {
    width: 100%;
    background-color: #525252;
    padding: 39px 23px 50px 54px;
    border-radius: 20px;

}

.col__row {
    display: flex;
    flex-direction: column;
    row-gap: 25px;
}

.col__logo {}

.col__title-map, .col__email {
    font-weight: 400;
    font-size: 16px;
    line-height: 175%;

    letter-spacing: -0.05em;

    color: #EFEFEF;
}

.col__email {}

.col__phone {
    font-weight: 700;
    font-size: 20px;
    line-height: 175%;
    text-transform: uppercase;
    letter-spacing: -0.05em;

    color: #DEDCDC;
}

/* ======FOOTER======== */
.footer {
    background-color: #000000;
}

.footer__container {}

._container {}

.footer__body {}

.footer__row {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.footer__colum {
    padding: 107px 0px 93px 0px;
    flex: 0 1 25%;
}

.column-footer a {
    font-weight: 400;
    font-size: 16px;
    line-height: 175%;

    letter-spacing: -0.05em;

    color: #D9D9D9;

}

.column-footer ul {
    display: flex;
    flex-direction: column;
    row-gap: 20px;

}

.column-footer__block {
    margin-right: 192px;
}

.column-footer__block2 {
    margin-right: 149px;

}

.column-footer__block3 {
    margin-right: 109px;
}

.column-footer__block4 {}

.menu__btn{
    display: none;
}